{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Viktor Daróczi's EPG Case Study</h1>
            </div>

            <div id="status">
                <p>
                    Bla bla bla
                </p>
            </div>

            <div id="next">
                <h2>We will charge {{ price|localizedcurrency(currency) }}</h2>
                <h3>Play with valid and invalid values</h3>
                <p>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                <div>
                    {{ form_label(form.FirstName) }}
                    {{ form_widget(form.FirstName) }}
                    {{ form_errors(form.FirstName) }}
                </div>

                <div>
                    {{ form_label(form.LastName) }}
                    {{ form_widget(form.LastName) }}
                    {{ form_errors(form.LastName) }}
                </div>

                <div>
                    {{ form_label(form.CreditCardNumber) }}
                    {{ form_widget(form.CreditCardNumber) }}
                    {{ form_errors(form.CreditCardNumber) }}
                </div>

                <div>
                    {{ form_label(form.Cvv) }}
                    {{ form_widget(form.Cvv) }}
                    {{ form_errors(form.Cvv) }}
                </div>

                <div>
                    {{ form_label(form.ExpMonth) }}
                    {{ form_widget(form.ExpMonth) }}
                    {{ form_errors(form.ExpMonth) }}
                </div>

                <div>
                    {{ form_label(form.ExpYear) }}
                    {{ form_widget(form.ExpYear) }}
                    {{ form_errors(form.ExpYear) }}
                </div>

                <div>
                    {{ form_widget(form.send) }}
                </div>
                    {{ form_end(form) }}
                </p>
            </div>

        </div>
        {% if checkout %}
            <div><h3 class="{% if checkout.resultCode == 1 %}green{% else %}red{% endif %}">Result: {{ checkout.result }}{% if checkout.resultMessage %} - {{ checkout.resultMessage }}{% endif %}</h3></div>
            {% if checkout.response %}
                <div><h3>Error:</h3><pre>{{ checkout.response.error }}</pre></div>
                <div><h3>Response:</h3><pre>{{ checkout.response.body }}</pre></div>
                <div><h3>Headers:</h3>{{ dump(checkout.response.headers) }}</div>
                <div><h3>Checkout:</h3>{{ dump(checkout) }}</div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    h3.green { color: forestgreen; }
    h3.red { color: firebrick; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    label { display: inline-block; width: 10em; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
